rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sales/{saleId} {
      allow read: if true; // permitir lectura pública para verificar entrega
      allow create: if request.resource.data.keys().hasAll(['buyerName', 'buyerEmail', 'downloadUrl'])
                    && request.resource.data.buyerName is string
                    && request.resource.data.buyerEmail is string
                    && request.resource.data.downloadUrl is string
                    && request.resource.data.downloadUrl.matches('https://firebasestorage\\.googleapis\\.com/.*');
      allow update, delete: if false;
    }
  }
}
